@model MasterDatabaseSystem.Models.HospitalViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Danh sách bệnh viện Việt Nam</h2>

<div class="team-info">
    <div class="col1">
        <form asp-controller="Hospital" asp-action="Index" method="get">
            <p>
                <select asp-for="provinceName" asp-items="Model.provinceNames">
                    <option value="">All</option>
                </select>

                <input type="submit" value="Filter" />
            </p>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.hospitals[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.hospitals[0].Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.hospitals[0].Tel)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.hospitals[0].Website)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.hospitals)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Tel)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Website)
                        </td>

                        @*<td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

